<div class="menu-container">
  <div class="card-header col-md-12 text-center">
    <h2>
      &#127850 Favorite Food or Not &#129473
    </h2>
  </div>
  {{#each dishes as |dish|}}
  <div class="dish col-md-3">
    <p>
      {{dish.id}}.
      {{dish.dish_name}}
    </p>

  </div>
  <div class="col-md-3">
    <p>
      Notes:
      {{dish.description}}
    </p>
  </div>
<div class="col-md-3">
    <p>
      Recommended by:
      {{dish.guest_name}}
    </p>
  </div>

  <div class="col-md-3">
    {{#if dish.rating}} Favorite {{else}} it's okay  {{/if}}
  </div>
  {{/each}}
  <!-- This is the form for adding a new dish -->
  <div class="add-dish-container">
    <h2>
             &#127846  Food tracker &#127820
    </h2>
    <form class="new-dish-form">
      <label for="dish_name">
        Food:
      </label>
      <br />
      <textarea id="dish_name" name="dish_name" rows="2" cols="30">
      {{dish_name}}
    </textarea>
      <br />
      <label for="description">
        Notes:
      </label>
      <br />
      <textarea id="description" name="description" rows="5" cols="30">
      {{description}}
    </textarea>
      <br />
      <label for="guest_name">
        Recommended by:
      </label>
      <br />
      <textarea id="guest_name" name="guest_name" rows="2" cols="30">
      {{guest_name}}
    </textarea>
      <br />
      <br />
      {{#if rating}}
      <input type="checkbox" id="rating" name="rating" checked />
      {{else}}
      <input type="checkbox" id="rating" name="rating" />
      {{/if}}
      <label for="rating">
        Check if you would recommend!
      </label>
      <br />
      <br />
      <button type="submit" value="Submit">
        Submit
      </button>
    </form>
  </div>
</div>

<script src="/js/add-dish.js"></script>