<div class="menu-container">
  <div class="card-header col-md-12 text-center">
    <h2>
       The Corner Tavern 
    </h2>
  </div>
  {{#each dishes as |dish|}}
  <div class="dish col-md-3">
    <p>
      {{dish.id}}.
      {{dish.dish_name}}
    </p>

  </div>
  <div class="col-md-3">
    <p>
      Side Dish:
      {{dish.description}}
    </p>
  </div>
<div class="col-md-3">
    <p>
      Customer:
      {{dish.guest_name}}
    </p>
  </div>

  <div class="col-md-3">
    {{#if dish.rating}} To Go {{else}} Dine In  {{/if}}
  </div>
  {{/each}}
  <!-- This is the form for adding a new dish -->
  <div class="add-dish-container">
    <h2>
             Customer Order
    </h2>
    <form class="new-dish-form">
      <label for="dish_name">
        Entree:
      </label>
      <br />
      <textarea id="dish_name" name="dish_name" rows="2" cols="30">
      {{dish_name}}
    </textarea>
      <br />
      <label for="description">
        Add Side:
      </label>
      <br />
      <textarea id="description" name="description" rows="5" cols="30">
      {{description}}
    </textarea>
      <br />
      <label for="guest_name">
        Customer:
      </label>
      <br />
      <textarea id="guest_name" name="guest_name" rows="2" cols="30">
      {{guest_name}}
    </textarea>
      <br />
      <br />
      {{#if rating}}
      <input type="checkbox" id="rating" name="rating" checked />
      {{else}}
      <input type="checkbox" id="rating" name="rating" />
      {{/if}}
      <label for="rating">
        Check for a To Go order.
      </label>
      <br />
      <br />
      <button type="submit" value="Submit" class="submit">
        submit
      </button>
{{!-- <button type="submit" value="Submit" class="update">
        update
      </button> --}}
  
    </form>
  </div>
</div>




<script src="/js/add-dish.js"></script>

